body {
  background-color: #ffffff;
  color: #ddd;
}

*:focus {
  outline: none;
  box-sizing: border-box;
}

main {
  max-width: 300px;
  margin: 20px auto;
}

form {
  border: 2px solid #d8d8de;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  position: relative;
}

form input[type="text"] {
  background: none;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  color: black;
}

form button {
  background-color: #61DAFB;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.task {
  background-color: white;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
}

.task svg {
  height: 20px;
  margin-right: 6px;
  fill: #5d5ded;
}

.task.done {
  opacity: 0.8;
}
.task__name {
  color: black;
}
.task__name, form {
  flex-grow: 1;
}

.task span {
  position: relative;
}

.task span:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #000000;
  top: 10px;
  transition: width 0.1s linear;
}

.task.done span:before {
  width: 100%;
}

h1, h2 {
  text-align: center;
  color: black;
}

.checkbox {
  display: flex;
  align-items: center;
}

.trash {
  border: none;
  background: none;
  cursor: pointer;
}

.trash svg {
  fill: #888;
  height: 14px;
}

.task form input {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
  color: #303130;
}
.task form input::placeholder {
  color: black !important;
}
.task form input:focus {
  border: 1px solid #1313b9;
}

.taskForm__wrapper {
  position: relative;
}

.btn {
  background-color: #5d5ded;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  position: absolute;
  right: -72px;
  top: -1px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  opacity: 0.7;
}

.tabs {
  margin-bottom: 16px;
}

.tabs__links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dbdbe7;
  padding-bottom: -14px;
}

.tabs__link {
  margin: 0 32px;
  color: black;
  padding-bottom: 6px;
  cursor: pointer;
}

.tabs__link.active {
  border-bottom: solid 2px #5d5ded;
}

.taskLists {
  display: none;
}

.taskLists.show {
  display: block;
}

.btnDelete {
  background-color: #db2626;
  color: white;
  display: inline-flex;
  cursor: pointer;
  padding: 6px;
  justify-content: flex-end;
  border-radius: 8px;
  margin-top: 10px;
  transform: translateX(200px);
  transition: all 0.2s ease;
}

.btnDelete:hover {
  opacity: 0.7;
}

.btnDelete svg {
  width: 10px;
  fill: white;
  margin-right: 4px;
}

.formTask.hide {
  display: none;
}